/* counter */

.counter {
    padding-left: 50px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.08%;
    background-color: #F4F0EC;
}

.counter-digit {
    display: flex;
    width: 62%;
    height: 36.55%;
    justify-content: center;
    align-items: center;
    gap: 55px;
    flex-shrink: 0;
}

.digit {
    display: flex;
    width: 14.87%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.digit h3 {
    font-size: 85px;
    letter-spacing: 1.7px;
    color: #CDA274;
}

.digit span {
    font-size: 22px;
    white-space: nowrap;
}

.counter-line {
    width: 1px;
    height: 77.84%;
    background-color: #CDA274;
    flex-shrink: 0;
}
