* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 1920px;
    height: auto;
    margin: 0 auto;
    background: url('../../Assets/background.png') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #292F36;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 81.25px */
}

p,
a,
span {
    color: #4D5053;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    letter-spacing: 0.22px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* foot */

footer {
    margin-top: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 124px;
}

.interno {
    display: flex;
    width: 62.55%;
    align-items: flex-start;
    gap: 101px;
}

.interno-info {
    display: flex;
    width: 32.78%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
}

.interno-bottom-row {
    display: flex;
    flex-direction: row;
    gap: 101px;
    flex-shrink: 0;
}

.interno-info-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 15px;
}

.interno-info-text p {
    font-size: 22px;
}

.interno-info-media {
    display: flex;
    width: 57.25%;
    align-items: center;
    gap: 54px;
}

.interno-page {
    display: flex;
    width: 10.42%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-page h3,
.interno-service h3,
.interno-contact h3 {
    font-size: 25px;
}

.interno-page a,
.interno-service a {
    font-size: 22px;
    line-height: 265%;
}

.interno-service {
    display: flex;
    width: 10.01%;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
}

.interno-contact {
    display: flex;
    width: 21.52%;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
}

.interno-contact-data {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.interno-contact-data span {
    font-size: 22px;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 113px;
    gap: 40px;
    flex-direction: column;
}

.copyright-line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.copyright span {
    font-size: 22px;
}
/* sign out but */
.exit-button {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    padding: 10px 20px;
    background-color: #C98740;
    border-radius: 18px;
}

#exit-button-mobile {
    display: none;
}
