.details-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details-info h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.details-info p {
  font-size: 25px;
  margin: 0;
}

.details-price {
  font-size: 30px;
  font-weight: bold;
  color: #e56413;
}

.catalog-butt a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #d1760f;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s ease;
}